IPHONEOS_DEPLOYMENT_TARGET = 17.0
PRODUCT_BUNDLE_IDENTIFIER = sh.xat.dash
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
SWIFT_VERSION = 6.0
TARGETED_DEVICE_FAMILY = 1
DASH_KEYCHAIN_ACCESS_GROUP = $(AppIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)
#include? "Signing.xcconfig"
#include? "Secrets.xcconfig"
